<%- include('./partials/header') %>
<%- include('./partials/banner') %>

<h2 class="color-title">Supprimer un article</h2>


<table class="table-display remove-items">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prix/kilo</th>
        <th>Disponible</th>
        <th class="hidden-td">Référence</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% allProducts.forEach(product => { %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price_per_kilo %></td>
          <td><%= product.available %></td>
          <td class="hidden-td"><%= product.reference %></td>
          <td>
            <form action="/admin/remove" method="POST">  <input type="hidden" name="id" value="<%= product.id %>">
                <button class="anchor-color table" type="submit">Supprimer</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
</table>

<%- include('./partials/footer') %>