<%- include('./partials/header') %>

<!-- MAIN -->
<!-- ILLUSTRATION SECTION -->
    <section id="illustration">
      <img src="/images/nathan-dumlao-6VhPY27jdps-unsplash.jpg" alt="Photo d'illustration d'amis se partageant un café">
      <div id="illustration-title">
        <h1>O'coffee</h1>
      </div>
    </section>


<!-- NEW PRODUCT SECTION -->
  <section id="discover-container">
    <div>
      <label for="coffe"></label>
      <select class="category" name="coffe" id="coffe">
        <option value="origine">Origine</option>
        <% products.forEach(coffe => { %>
          <option value="<%= coffe.orign %>"><%= coffe.origin %></option>
        <% }) %>
      </select>
    </div>
    <section class="items-container brown">
      <% threeProductList.forEach(oneProduct => { %>
       
        <section class="items-box">
          <h3><%= oneProduct.name %></h3>
          <img src="/images/coffees/<%= oneProduct.reference %>.png" alt="Grains de café d'Italie">
          <p>Description : <%= oneProduct.description %></p>
          <p>Origine : <%= oneProduct.origin %></p>
          <p>Prix au kilo : <%= oneProduct.price_per_kilo %> €</p>
          <p>Caractéristique principale : <%= oneProduct.characteristique %></p>
          <button>Découvrir</button>
        </section>

      <% }) %>

    <div>
      <button class="select-all"><a href="catalogue/all">Voir tout</a></button>
    </div>
  </section>

<%- include('./partials/footer') %>
