<%- include('./partials/header') %>
<%- include('./partials/banner') %>

<div class="height-body">

    <h2 class="color-title" >Inscription</h2>

    <!-- Toast en cas d'erreur  -->
  <% if (locals.errorMessage) { %>
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
  <% } %>

  <!-- Toast en cas de succès  -->
  <% if (locals.successMessage) { %>
    <div class="alert alert-success" role="alert">
      <%= successMessage %>
    </div>
  <% } %>

<form id="add-form-field" class="form-display" action="" method="POST">

    <div class="field">
        <label class="label" for="user_name">Nom</label>
        <div class="control">
            <input class="input" type="text" id="user_name" name="user_name" placeholder="Nom" required>
        </div>
    </div>


    <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
            <input class="input" type="email" id="email" name="email" placeholder="Email" required>
        </div>
    </div>
    
    <div class="field">
        <label class="label" for="password">Mot de passe</label>
        <div class="control">
            <input class="input" type="password" id="password" name="password" placeholder="*********" required>
        </div>
    </div>

    <div class="field">
        <label class="label" for="confirm">Mot de passe</label>
        <div class="control">
            <input class="input" type="password" id="confirm" name="confirm" placeholder="*********" required>
        </div>
    </div>

    <div class="field">
        <label for="role" method="GET" ></label>
          <select class="anchor-color role" name="role" id="role" aria-label="Selectionnez un role">
          <option value="">Role</option>
          <option value="admin">Administrateur</option>
          <option value="employee">Employée</option>
          <option value="visiteur">Visiteur</option>
        </select>
    </div>

    <div class="field">
        <button class="anchor-color" type="submit">Valider</button>
    </div>

</form>

</div>

<%- include('./partials/footer') %>